# <center>Python Course</center>
<img src="Python.svg.png" style="width=200px;height:200px"/>

# Course content:
> ### 1. Python Programming.
> ### 2. Python for data analysis.
> ### 3. Intro to ML/DL.
> ### 4. Natural Language Understanding.
> ### 5. Final project "Sentiment Analysis".

**================================================================================**

# Session 1

## Table of Contents
<ul>
<li><a href="#Intro">Intro: Simple Input&Output, Comments.</a></li>
<li><a href="#Datatypes">Data Types, Operators and Variables Assignment</a></li>
<li><a href="#String">String</a></li>
</ul>

<a id='Intro'></a>
## ==> Intro:  simple Input&Output and Comments

### Input & Output:
Python is interpreted language, which mean it doesn't need to be combiled to execute.

In [1]:
print("Hello from Mansey")

Hello from Mansey

In [8]:
mystring_1 = "it is Ahmed's book"
type(mystring_1)

str

In [6]:
x = input("what is your name: ")

what is your name: Ibrahim

In [3]:
x

'Ibrahim'

In [5]:
print(x)

Ibrahim

In [4]:
type(x)

str

In [7]:
y = input('type your number: ')

type your number: 11

In [9]:
type(y)

str

In [38]:
my_int = int(y)
type(my_int)

int

In [39]:
my_new_input= int(input('type your number: '))

type your number: 33

In [40]:
type(my_new_input)

int

### comments:

In [ ]:
# This is a comment

In [10]:
myinput = input('type your input') #this is an input prompt

type your input5

In [ ]:
# This is a comment
# written in
# more than just one line

you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [12]:
print('''
1st line
2nd line
4th line ''')

1st line
2nd line
4th line

In [13]:
"""
This is for a multiline comment for the first session of python course
"""

'\nThis is for a multiline comment for the first session of python course\n'

<a id='Datatypes'></a>
## ==> Data Types, Operators and  Variables Assignment.

### Name Convention and Rules:

In [21]:
# [1] Can Start With (a-z A-Z) Or Underscore
# [2] You Cannot With Num Or Special Characters
# [3] Can Include (0-9) Or Underscore
# [4] Cannot Include Special Characters
# [5] Name is Not Like name [ Case Sensitive ]

name = "Ali"  # Single Word => Normal
myName = "Ali"  # Two Words => camelCase
my_name = "Ali"  # Two Words => snake_case

In [23]:
x = 3
y = 4
z = 5

In [24]:
x, y, z = 3, 4, 5 # Multible assignment

In [3]:
x, y = (3,4) , (5,6)
x

(3, 4)

In [4]:
y

(5, 6)

In [32]:
# Reserved Words
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [33]:
break = 'ahmad'

SyntaxError: invalid syntax (<ipython-input-33-cd277ac24547>, line 1)

### Data types:

<div class="index-module--table-responsive--1zG6k"><table class="index-module--table--8j68C index-module--table-striped--3HHC-">
<thead>
<tr>
<th><strong>Data Type</strong></th>
<th><strong>Constructor</strong></th>
<th><strong>Example</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>int</td>
<td><code>int()</code></td>
<td>5</td>
</tr>
<tr>
<td>float</td>
<td><code>float()</code></td>
<td>6.5</td>
</tr>
<tr>
<td>string</td>
<td><code>''</code> or <code>""</code> or <code>str()</code></td>
<td>"this is a string"</td>
</tr>
<tr>
<td>bool</td>
<td><code>bool()</code></td>
<td><code>True</code> or <code>False</code></td>
</tr>
</tbody>
</table>
</div>

In [34]:
x = 4
type(x)

int

Casting from float to int

In [35]:
y = int(4.0)
type(y)

int

In [41]:
y

4

In [9]:
h = int('33')
type(h)

int

In [10]:
h

33

In [43]:
z = 4.0
type(z)

float

In [44]:
type(True)

bool

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [45]:
type('Ahmed')

str

In [46]:
"Ibrahim"

'Ibrahim'

### Arithmetic operators:

<img src="arithmetic-assignment.png" style="width=400px;height:400px"/>

In [47]:
3 + 5

8

broadcasting

In [48]:
3 + 2.0

5.0

In [13]:
4 + "6"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
x**2 # not ^ for power

16

In [51]:
3/2

1.5

integer division keeps only integer digits

In [52]:
3//2

1

Casting from float to integer

In [53]:
int(3/2)

1

In [54]:
round(3/2)

2

Modulus operator % returns devision ba2y

In [56]:
10%5

0

In [57]:
9%5

4

In [55]:
5/0

ZeroDivisionError: division by zero

### Comparison Operators:

<img src="comparison-logical.png" style="width=400px;height:400px"/>

In [58]:
3 == 3.0

True

In [ ]:
#is

In [14]:
3 is 3.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-14-7386e7c10e85>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  3 is 3.0

False

copy by reference and id()

In [99]:
b =302
m =302

b values is == to m value

In [102]:
b == m

True

b is pointing to a memory id that is different from the memory id that m pointing at.

In [103]:
b is m

False

In [104]:
id(b)

2530030664784

In [105]:
id(m)

2530030664592

J is pointing at the same memory that u pointing at

In [106]:
u = 100
j = u

In [107]:
u == j

True

u and j are the same id

In [108]:
u is j

True

In [109]:
print(id(u))
print(id(j))

140708553962368
140708553962368

In [110]:
u = u - 10

In [97]:
u

90

In [111]:
id(u)

140708553962048

In [98]:
j

100

In [112]:
id(j)

140708553962368

In [113]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise

In [114]:
san_francisco_pop_density > rio_de_janeiro_pop_density

False

<a id='String'></a>
## ==> String


### String Concatenation:

In [115]:
"Ahmed" + "Ali"

'AhmedAli'

In [116]:
"Ahmed" + ' ' + "Ali"

'Ahmed Ali'

In [117]:
"Ahmed " + "Ali"

'Ahmed Ali'

In [121]:
"Ali " * 5

'Ali Ali Ali Ali Ali '

In [122]:
("Ali" + ' ') * 2 ** 3

'Ali Ali Ali Ali Ali Ali Ali Ali '

In [125]:
"Ali" + ' _' * 2 ** 3

'Ali _ _ _ _ _ _ _ _'

In [126]:
print('First line' + "\n" + 'Second line')

First line
Second line

Escape character

In [129]:
x = "First \
Second \
Third"
print(x)

First Second Third

In [130]:
# concatnate to get 'aaabcccb' from single characters 'a', 'b', 'c'
"a" * 3 + "b" + "c"* 3 + "b"

'aaabcccb'

### Escape Sequences Characters:

In [ ]:
# \b => Back Space
# \ => Escape New Line
# \' => Escape Single Quotes
# \" => Escape Double Quotes
# \\ => Escape Back Slash
# \n => Line Feed
# \r => Carriage Return
# \t => Horizontal Tab
# \xhh => Character Hex Value

In [131]:
print('hello world')

hello world

In [132]:
print('hello\bworld') # \b => Back Space

helloworld

In [134]:
print('hello \
world')  # \ => Escape New Line

hello world

In [136]:
print("hello's world")

hello's world

In [137]:
print('hello\'s world') # \' => Escape Single Quotes

hello's world

In [140]:
print('choose from A\B\C\\') # \\ => Escape Back Slash

choose from A\B\C\

In [131]:
print('hello world')

hello world

In [143]:
print('hello\nworld') # \n => Line Feed

hello
world

In [131]:
print('hello world')

hello world

In [ ]:
# \r => Carriage Return
# \t => Horizontal Tab
# \xhh => Character Hex Value

In [146]:
print('123456789\rgambary') # \r => Carriage Return

gambary

In [148]:
len('gambary')

7

In [149]:
print('123456789\tgambary')

123456789	gambary

In [161]:
# \xhh => Character Hex Value
print('\x72')

r

### String formating:

In [162]:
name = "Ibrahim"
age = 25
Height = 178

print("My Name is: " + name)

My Name is: Ibrahim

In [163]:
print("My Name is: " + name + " and My Age is: " + age)  # Type Error

TypeError: can only concatenate str (not "int") to str

In [164]:
print("My Name is: " + name + " and My Age is: " + str(age))

My Name is: Ibrahim and My Age is: 25

In [166]:
print("My Name is: {}".format("Osama"))
"My Name is: {}".format(name)

My Name is: Osama

'My Name is: Ibrahim'

In [167]:
"My Name is: {} My Age: {}".format(name, age)

'My Name is: Ibrahim My Age: 25'

In [168]:
"My Name is: {} Age: {} & Rank is: {}".format(name, age, Height)

'My Name is: Ibrahim Age: 25 & Rank is: 178'

In [172]:
# {:s} => String
# {:d} => Number
# {:f} => Float
"My Name is: {:s} Age: {:d} & Rank is: {:f}".format(name, age, Height)

'My Name is: Ibrahim Age: 25 & Rank is: 178.000000'

':s' makes a contrain that you should assign a string not an int.

In [171]:
"My Name is: {:s} Age: {:d} & Rank is: {:f}".format(age, name, Height)

ValueError: Unknown format code 's' for object of type 'int'

In [173]:
f"My Name is : {name} and My Age is : {age}"

'My Name is : Ibrahim and My Age is : 25'

you can re-arrange the sequence of your variable formatting

In [174]:
a, b, c = "One", "Two", "Three"
print("Hello {} {} {}".format(a, b, c))  # Hello One Two Three

Hello One Two Three

In [175]:
print("Hello {1} {2} {0}".format(a, b, c)) # Hello Two Three One

Hello Two Three One

In [176]:
print("Hello {2} {1} {0}".format(a, b, c)) # Hello Three One Two

Hello Three Two One

You can truncate your string to the length you prefere

In [177]:
mystring = "My name is Ahmed and I am a software engineer"
print("Message is {}".format(mystring))
print("Message is {:.5s}".format(mystring))

Message is My name is Ahmed and I am a software engineer
Message is My na

In [178]:
print("Message is {:.13s}".format(mystring))

Message is My name is Ah

In [179]:
x, y, z = 10, 20, 30
"Hello {} {} {}".format(x, y, z)

'Hello 10 20 30'

I can merge all format techniques

In [182]:

"ana ba7b elgambary {2:.3f} {1:.11f} {0}".format(x,y,z)

'ana ba7b elgambary 30.000 20.00000000000 10'