# <center>Python Course</center>
<img src="Python.svg.png" style="width=200px;height:200px"/>

# Course content:
> ### 1. Python Programming.
> ### 2. Python for data analysis.
> ### 3. Intro to ML/DL.
> ### 4. Natural Language Understanding.
> ### 5. Final project "Sentiment Analysis".

**================================================================================**

# Session 3

## Table of Contents

1. [Tuple](#==>-Tuple)
1. [Set](#==>-Set)
1. [Dictionary](#==>-Dictionary)
1. [Control Flow](#==>-Control-Flow)
1. [Loops](#==>-Loops)

<table class="index-module--table--8j68C index-module--table-striped--3HHC-">
<thead>
<tr>
<th><strong>Data Structure</strong></th>
<th><strong>Ordered</strong></th>
<th><strong>Mutable</strong></th>
<th><strong>Constructor</strong></th>
<th><strong>Example</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>List</td>
<td>Yes</td>
<td>Yes</td>
<td><code>[ ]</code> or <code>list()</code></td>
<td><code>[5.7, 4, 'yes', 5.7]</code></td>
</tr>
<tr>
<td>Tuple</td>
<td>Yes</td>
<td>No</td>
<td><code>( )</code> or <code>tuple()</code></td>
<td><code>(5.7, 4, 'yes', 5.7)</code></td>
</tr>
<tr>
<td>Set</td>
<td>No</td>
<td>Yes</td>
<td><code>{}</code>* or <code>set()</code></td>
<td><code>{5.7, 4, 'yes'}</code></td>
</tr>
<tr>
<td>Dictionary</td>
<td>No</td>
<td>No**</td>
<td><code>{ }</code> or <code>dict()</code></td>
<td><code>{'Jun': 75, 'Jul': 89}</code></td>
</tr>
</tbody>
</table>

- \* You can use curly braces to define a set like this: {1, 2, 3}. However, if you leave the curly braces empty like this: {} Python will instead create an empty dictionary. So to create an empty set, use set().
- ** A dictionary itself is mutable, but each of its individual keys must be immutable.

In [1]:
# List is mutable
a = [3,5,'you']
a[0] = 'ahmad'
print(a)

['ahmad', 5, 'you']

In [4]:
# string is immutable
a = 'I love shrimp'
a[4] = 't'
print(a)

TypeError: 'str' object does not support item assignment

## ==> Tuple

- Tuple Items Are Enclosed in Parentheses
- You Can Remove The Parentheses If You Want
- Tuple Are Ordered, To Use Index To Access Item
- Tuple Are Immutable => You Cant Add or Delete
- Tuple Items Is Not Unique
- Tuple Can Have Different Data Types
- Operators Used in Strings and Lists Available In Tuples

- Construct

In [13]:
a = 1,2,2,4.5,'ahmad',True
type(a)

tuple

In [9]:
a[0]

1

In [10]:
a[0] = 6 # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

- operators

In [14]:
a + a

(1, 2, 2, 4.5, 'ahmad', True, 1, 2, 2, 4.5, 'ahmad', True)

In [16]:
a*2

(1, 2, 2, 4.5, 'ahmad', True, 1, 2, 2, 4.5, 'ahmad', True)

- indexing & slicing

In [17]:
a[0:4]

(1, 2, 2, 4.5)

In [18]:
a[0:6:2]

(1, 2, 'ahmad')

- Tuple Destruct

In [19]:
x, y = 6, 'ahmad'
print(x)
print(y)

6
ahmad

In [20]:
x, y = (6, 'ahmad')
print(x)
print(y)

6
ahmad

In [22]:
a = "A", "B", 4, "C"

x, y, _, z = a

In [23]:
print(f'{x} {y} {z}' )

A B C

In [24]:
# Tuple Assign Values # is immutable
a[1] = 6

TypeError: 'tuple' object does not support item assignment

### Tuple methods

In [25]:
# count()
x= 2,3,2,2,5,4
x.count(2)

3

In [27]:
# index()
x.index(2)
x.index(5)

4

## ==> Set

- Set Items Are Enclosed in Curly Braces
- Set Items Are Not Ordered And Not Indexed
- Set Indexing and Slicing Cant Be Done
- Set Has Only Immutable Data Types (Numbers, Strings, Tuples) List and Dict Are Not
- Set Items Are Unique

- \* You can use curly braces to define a set like this: {1, 2, 3}. However, if you leave the curly braces empty like this: {} Python will instead create an empty dictionary. So to create an empty set, use set().
- ** A dictionary itself is mutable, but each of its individual keys must be immutable.

In [32]:
a = set()
type(a)

set

In [34]:
# Neither ordered nor indexed
a = {1,5,True,3.5, 5,"ahmad"}
a[0]

TypeError: 'set' object is not subscriptable

In [38]:
# Slicing can not be done

a[0:3]

TypeError: 'set' object is not subscriptable

In [43]:
# Has Only Immutable Data Types

a = {1, 5, True, 3.5, 5, "ahmad"}

In [45]:
# Items Are Unique
a

{1, 3.5, 5, 'ahmad'}

1 == True, so the set only prints 1

In [105]:
{1, 5, False, 3.5, 5, "ahmad"}

{1, 3.5, 5, False, 'ahmad'}

### Set methods

In [47]:
# clear()
a.clear()
a

set()

In [ ]:
# copy()

In [60]:
# union() # |
a = {1,5,3.5, 5,"ahmad"}
b = {2, 5, 3, 7}
a.union(b)

{1, 2, 3, 3.5, 5, 7, 'ahmad'}

In [61]:
a | b

{1, 2, 3, 3.5, 5, 7, 'ahmad'}

In [62]:
# add() , remove(), discard()
print(a)
a.add(6)
print(a)

{1, 3.5, 5, 'ahmad'}
{1, 3.5, 5, 6, 'ahmad'}

In [63]:
a.remove(5)
print(a)

{1, 3.5, 6, 'ahmad'}

In [64]:
a.discard(3)
print(a)

{1, 3.5, 6, 'ahmad'}

In [65]:
a.remove(3)
print(a)

KeyError: 3

In [66]:
a

{1, 3.5, 6, 'ahmad'}

In [67]:
# pop()
a.pop()

1

In [71]:
a = {1,3,6,'ahmad'}

In [73]:
a.add('hima')
print(a)

{'hima', 1, 3, 6, 'ahmad'}

In [74]:
a.pop()

'hima'

In [75]:
# update()
a.update('hima')
print(a)

{1, 3, 6, 'm', 'h', 'i', 'ahmad', 'a'}

In [76]:
# issuperset()
a = {1,2,3,4,5}
b = {1,2,3}
c = {7,9,8}

In [77]:
a.issuperset(b)

True

In [78]:
b.issuperset(a)

False

In [80]:
# issubset()
b.issubset(a)

True

In [81]:
# isdisjoint()
a.isdisjoint(c)

True

## ==> Dictionary

- Dict Items Are Enclosed in Curly Braces { }
- Dict Items Are Contains Key : Value
- Dict Key Need To Be Immutable => (Number, String, Tuple) List Not Allowed
- Dict Value Can Have Any Data Types
- Dict Key Need To Be Unique
- Dict Is Not Ordered You Access Its Element With Key

In [83]:
my_dict = {}
print(type(my_dict))

<class 'dict'>

In [84]:
his_dict = dict()

In [101]:
my_dict = {'name':'Ahmad', 'age':26, 'college':'BUE', 'grade':(90.5, 80, 60, 10), ('street','building'): {10, True, 'Ibrahim'} }

In [96]:
my_dict['name']

'Ahmad'

In [97]:
my_dict['grade']

(90.5, 80, 60, 10)

In [98]:
my_dict['grade'][2]

60

In [102]:
my_dict[('street','building')]

{10, 'Ibrahim', True}

### Dictionary methods

In [117]:
# keys() + values()
your_dict= {'name': 'omar', 'age': 12, 'sea food': ('shrimp','fish')}

In [107]:
your_dict.keys()

dict_keys(['name', 'age', 'sea food'])

In [108]:
your_dict.values()

dict_values(['omar', 12, ('shrimp', 'fish')])

In [109]:
your_dict['sea food'][0][2]

'r'

In [110]:
# clear()
your_dict.clear()

In [114]:
# update()
your_dict.update({'sea food' :'7amada'})

In [115]:
your_dict

{'name': 'omar', 'age': 12, 'sea food': '7amada'}

In [ ]:
# copy()

In [35]:
## ==> Control Flow

# if , elif, else  # Nested If
if 1 == True:
    print(' 1 is equal to True')

name = 'ahmad'
age = 26
food = 'shrimp'

if name == 'ahmad':
    print(f'my name is {name}')
    
elif age > 20:
    print(f'my name is {name} and my age is {age}')
    
else:
    print('hello world')

name = 'ahmad'
age = 26
food = 'shrimp'

if name != 'ahmad':
    print(f'my name is {name}')
    
elif age > 20:
    print(f'my name is {name} and my age is {age}')
    
else:
    print('hello world')

if name == 'ahmad' and age == 26 and food == 'shrimp':
    print('eshta')

## ==> Loops

# while condition_is_true
#   Code Will Run Until Condition Become False

x = 0

while x < 6:
    x += 1
    print(x)
    
print('your loop ends here')

x = 0
while True:
    x += 1
    print(x)
    if x ==8:
        break

# for item in iterable_object :
#   Do Something With Item


# item Is A Vairable You Create and Call Whenever You Want
# item refer to the current position and will run and visit all items to the end
# iterable_object => Sequence [ list, tuples, set, dict, string of charcaters, Range, etc ... ]

my_list = [1,2,3,'ahmad']
for btngan in my_list:
    print(btngan)
    print(type(btngan))

my_dict = {'name':'ahmad', 'age':25}

for key, value in my_dict.items():
    print(str(key)+' '+str(value))

for I in range(3):
    print('hello')

type(range(5))# setdefault()

In [118]:
# update + popitem()
c=your_dict.popitem()

In [119]:
c

('sea food', ('shrimp', 'fish'))

In [120]:
# items()
your_dict.items()

dict_items([('name', 'omar'), ('age', 12)])

In [121]:
# fromkeys() dict.fromkeys(iterable, value)
your_dict.fromkeys([1,2,3],5)

{1: 5, 2: 5, 3: 5}

### Type Conversion

In [135]:
u = 1, 2, 3, 4, 5  # Tuple
c = "Osama"  # String
d = [1, 2, 3, 4, 5]  # List
e = {"A", "B", "C"}  # Set
f = {"A": 1, "B": 2}  # Dictionary

In [136]:
print(str(u))

(1, 2, 3, 4, 5)

In [139]:
hah = str(u)

In [140]:
hah[0]

'('

In [143]:
str(f.keys())

"dict_keys(['A', 'B'])"

In [146]:
my_string = str()  # or ''
for key in f.keys():
    my_string += key + ' '

In [147]:
my_string

'A B '

In [148]:
list(u)

[1, 2, 3, 4, 5]

In [149]:
tuple(d)

(1, 2, 3, 4, 5)

In [150]:
# dict()

d = (("A", 1), ("B", 2), ("C", 3))  # Tuple
e = [["One", 1], ["Two", 2], ["Three", 3]]  # List

In [153]:
dict(d)

{'A': 1, 'B': 2, 'C': 3}

## ==> Control Flow

In [155]:
# if , elif, else  # Nested If
if 1 == True:
    print(' 1 is equal to True')

 1 is equal to True

In [159]:
name = 'ahmad'
age = 26
food = 'shrimp'

if name == 'ahmad':
    print(f'my name is {name}')
    
elif age > 20:
    print(f'my name is {name} and my age is {age}')
    
else:
    print('hello world')

my name is ahmad

In [160]:
name = 'ahmad'
age = 26
food = 'shrimp'

if name != 'ahmad':
    print(f'my name is {name}')
    
elif age > 20:
    print(f'my name is {name} and my age is {age}')
    
else:
    print('hello world')

my name is ahmad and my age is 26

In [161]:
if name == 'ahmad' and age == 26 and food == 'shrimp':
    print('eshta')

eshta

## ==> Loops

In [1]:
# while condition_is_true
#   Code Will Run Until Condition Become False

x = 0

while x < 6:
    x += 1
    print(x)
    
print('your loop ends here')

1
2
3
4
5
6
your loop ends here

In [5]:
x = 0
while True:
    x += 1
    print(x)
    if x ==8:
        break

1
2
3
4
5
6
7
8

In [3]:
# for item in iterable_object :
#   Do Something With Item


# item Is A Vairable You Create and Call Whenever You Want
# item refer to the current position and will run and visit all items to the end
# iterable_object => Sequence [ list, tuples, set, dict, string of charcaters, Range, etc ... ]

In [168]:
my_list = [1,2,3,'ahmad']
for btngan in my_list:
    print(btngan)
    print(type(btngan))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
ahmad
<class 'str'>

In [6]:
my_dict = {'name':'ahmad', 'age':25}

for key, value in my_dict.items():
    print(str(key)+' '+str(value))

name ahmad
age 25

In [7]:
for I in range(3):
    print('hello')

hello
hello
hello

In [174]:
type(range(5))

range

In [154]:
dict(e)

{'One': 1, 'Two': 2, 'Three': 3}